body{
  background-color: #FED9B7;
  color: #FDFCDC;
}
#submit{
  color: #FDFCDC;

}
button{
  color: #FDFCDC;
}
#form-container{
  display: grid;
  grid-template-columns: repeat((3, 1fr));
  grid-auto-flow: row;
  gap:20px;
}
form{
  grid-column-start: 2;
  font-size: 125%;
  text-align: center;
  background-color: #0081A7;
  border-radius: 5px;
  width: 350px;
}
input, button{
  background-color: #4cc0e4;
  border: none;
  border-radius: 5px;
}

h1{
  text-align: center;
  color: #0081A7;
}

.list-container{
  display: grid;
  grid-template-columns: repeat((4, 1fr));
  grid-auto-flow: dense;
  gap:20px;
  font-size: 125%;
  
}

.rendered-list-item{
  margin: 20px;
  width: 150px;
  height: fit-content;
  border-radius: 5px;
  padding-top: 25px;
  text-align: center;
  font-size: x-large;
  align-content: center;  
  list-style: none;
}

li.low{
  background-color: #00AFB9;
}
li.high{
  background-color: #F07167;
}
